<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>search & recommend</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<script src="https://kit.fontawesome.com/640e055277.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style_searchpage.css')}}">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="app">
		<header class="app-header">
			<div class="app-header-logo">
				<div class="logo">
					<h1 class="logo-title">
						<span style="color: rgb(104, 104, 104); letter-spacing: 3px;font-weight: bold;">PRO<span
								style="background-color:#96959362 ;letter-spacing:3px;color:#888884;padding: 2px 4px;">FIND</span></span>
					</h1>
				</div>
			</div>
			<div class="app-header-navigation">
				<div class="tabs">

				</div>
			</div>
			<div class="app-header-actions">
				<button class="user-profile">
					<span>{{user}}</span>
					<span>
						<img
							src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png" />
					</span>
				</button>

		</header>
		<div class="app-body">
			<div class="app-body-navigation">
				<nav class="navigation">
					<a href="/user">
						<i class="fa-solid fa-magnifying-glass"></i>
						<span>Search</span>
					</a>
					<a href="#">
						<i class="fa-solid fa-user"></i>
						<span>Profile</span>
					</a>
					<a href="/forum">
						<i class="fa-solid fa-inbox"></i>
						<span>Forums</span>
					</a>
					<a href="/logout">
						<i class="fa-solid fa-right-from-bracket"></i>
						<span>Logout</span>
					</a>
				</nav>
				<footer class="footer">
					<h1 class="logo-title">
						<span style="color: rgb(104, 104, 104); letter-spacing: 3px;font-weight: bold;">PRO<span
								style="background-color:#96959362 ;letter-spacing:3px;color:#888884;padding: 2px 4px;">FIND</span></span>
					</h1>
					<div>
						PROFIND ©<br />
						All Rights Reserved 2023
					</div>
				</footer>
			</div>
			<div class="app-body-main-content">
				<section class="service-section">
					<h2>Search</h2>
					<form action="#" method="post">
						<div class="service-section-header">
							<div class="search-field">
								<i class="ph-magnifying-glass"></i>
								<input style="color: #888884;" id="facname" name="facname" type="text" placeholder="Faculty Name">
							</div>
							<div class="dropdown-field">
								<select name="roi" id="roi">
									{% for i in roi %}
									<option value="{{i[0]}}">{{i[0][:44]}}</option>
									{% endfor %}
								</select>
								<i class="ph-caret-down"></i>
							</div>
							<button class="flat-button" type="submit">
								Search
							</button>
						</div>
					</form>
					<!-- <div class="mobile-only">
						<button class="flat-button">
							Toggle search
						</button>
					</div> -->
					<br>
					<section class="service-section">
						<h2>Recommendations <span style="font-size: small;">based on you area of intrest</span></h2>
					</section>
					<div class="tiles">
						{% for i in finfo %}
						<article class="tile">
							<img src="{{i[1]}}" alt="" style="border-radius: 20%;height:170px;width:200px;">
							<br>
							<br>
							<h3>
								<span style="font-weight: bold;">Name:</span> {{i[0]}}
							</h3><br>

							<h3 style="word-wrap: break-word; max-width: 300px;">
								<span style="font-weight: bold;">Department:</span> <br>{{i[2]}}
							</h3>

							<br>
							<br>
							<a href="{{i[3]}}">
								<span>More Details</span>
								<span class="icon-button">
									<i class="ph-caret-right-bold"></i>
								</span>
							</a>
						</article>
						{% endfor %}

					</div>
			</div>
		</div>
		<script src='https://unpkg.com/phosphor-icons'></script>
		<script src="./script.js"></script>

</body>

</html>